* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #172948;
	font-family: 'Montserrat', sans-serif;
	overflow-x: hidden;
}
.nav {
	z-index: 2;
}
main {
	margin-top: 80px;
}
.navbar {
	background-color: #010721;
	opacity: 0.9;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav-link {
	opacity: 0.8;
	transition: 0.3s;
}
.nav-link:hover {
	opacity: 1;
}
.navbar ul li::after{
	content: '';
	width: 0%;
	height: 2px;
	background: #00BAFF ;
	display: block;
	margin: auto;
	transition: 0.5s;
}
.navbar ul li:hover::after{
	width: 100%;
}
.nav-item {
	font-size: 20px;
	padding-right: 2vw;
	font-weight: 500;
}
.navbar-brand {
	font-size: 1.67vw;
	font-weight: 600;
	padding-left: 4vw;
	transition: 0.1s;
}
.navbar-brand:hover {
	text-shadow: 2px 3px 3px rgba(21, 85, 122, 0.6);
}
.light-bg {
	display: flex;
	background-color: #15557A;
	width: 50.3vw;
	z-index: 3;
	position: relative;
	margin-top: 40px;
	display: inline-block;
	padding: 5vw;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	transition: 0.2s;
}
.light-bg:hover {
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.25);
}
.text-top {
	font-size: 3.9vw;
}
.line {
	margin-left: 86px;
	position: absolute;
	margin-top: -12px;
	z-index: 4;
}
.top .line {
	margin-left: 4px;
	position: absolute;
	margin-top: -24px;
	z-index: 4;
}
.text-top-bold {
	font-size: 4.45vw;
	font-weight: 700;
	margin-top: -30px;
	padding-top: 10px;
	text-shadow: 4px 4px #010721;
}
.dark-bg {
	height: 51vw;
	width: 69vw;
	display: inline-block;
	margin-top: -44.55vw;
	margin-left: 32.64vw;
	display: inline-block;
	z-index: 1;
	box-shadow: 0 0 7px #000 
}
.text-top-main {
	font-size: 1.5vw;
	padding-top: 10px;
}
.btn-outline {
	background-color: #172948;
	border: 0;
	border-radius: 0;
	color: white;
	margin-top: 30px;
	height: 3vw;
	width: 8vw;
	transition: 0.16s;
	font-size: 1.28vw;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-outline:hover {
	background-color: #172948;
	border: 2px solid #00BAFF;
	color: #00BAFF;
}
.top-button{
	display: inline-block;
}
.btn-outline-primary-LinkedIn{
	margin-left: 1.8vw;
}
.heading {
	font-size: 3.2vw;
	font-weight: 700;
	padding-left: 6vw;
	margin-top: 8vh;
	padding-top: 5vw;
}
/* About */
.About .heading {
	margin-top: 1vw;
	text-shadow: 2px 4px 3px #010515;
}
.about-image {
	height: 22.24vw;
	transition: 0.2s;
	margin-left: 30px;
}
.about-image:hover {
	filter: drop-shadow(1px 1px 6px #00BAFF);
}
.container {
	padding-top: 3.35vw;
}
.about .row{
	display: flex;
	flex-direction: row;
}
.about-text {
	margin-top: 16px;
	font-size: 1.38vw;
	margin-left: 50px;
}
/* Skillset */
.skillset {
	background-color: #010721;
	margin-top: 5.56vw;
	width: 101vw;
}
.skillset .heading {
	text-shadow: 2px 3px 3px rgba(21, 85, 122, 0.6);
}
.skillset-main {
	margin-top: -30px;
	width: 40%;
}
.skills_main_text {
	margin-left: 80px;
	padding: 14px 5vw 0px 0px;
	font-size: 24px;
	opacity: 0.8;
}
.div1 {
	width: 30%;
	padding-top: 8.1vw;
	height: 30%;
	display: flex;
	flex-direction: column;
	padding-bottom: 5vw;
}
.skills_padding {
	padding-top: 2.7777vw;
}
.div2 {
	width: 30%;
	padding-top: 8.1vw;
	height: 30%;
	display: flex;
	flex-direction: column;
}
.skills_head {
	font-weight: 600;
	font-size: 32px;
}
.skills_small {
	padding: 0;
	margin-top: 16px;
	opacity: 0.8;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 0.25px;
	margin-right: 100px;
}
.navbar-toggler{
	border: none;
}
.nav_hamburger img{
	width:33px;
	height: 26px;
}
.logo {
	height: 40px;
	position: relative;
	width: 40px;
	margin: -50px;
	padding-right: 50px;
}
.logo img {
	margin-top: -14px;
}
.dm .logo img {
	margin-top: 0px;
}
.networking .logo img {
	margin-top: 0px;
	margin-right: 4px;
}
.public-speaking .logo img {
	height: 35px;
	width: 35px;
	margin-top: -6px;
}
.ui-ux .logo img {
	margin-top: -8px;
	margin-left: -5px;
}
.web .logo img {
	margin-top: -4px;
	margin-right: 4px;
	padding-right: -14px;
}
/* Experience */
.experience .heading {
	padding-top: 40px;
	padding-left: 96px;
	text-shadow: 2px 4px 3px #010515;
}
.experience .line{
	margin-left: 96px;
}
.card {
	width: 363px;
	display: flex;
	height: 440px;
	margin: auto;
	margin-top: 64px;
	padding: 0px;
	transition: 0.2px;
	border-radius: 4px;
}
.card:hover {
	filter: drop-shadow(6px 6px 10px #010721);
}
.card img {
	height: 238px;
	border-radius: 4px;
	margin: 0px;
}
.card-title {
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}
.card-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 20px;
}
.card-subtitle {
	font-weight: bold;
	font-size: 16px;
	line-height: 20px;
}
.card-link {
	text-decoration: none;
	color: #010721;
	font-weight: 600;
	border: 1px solid #010721;
	padding: 4px 6px;
	border-radius: 4px;
	transition: 0.2s;
}
.card-link:hover {
	color: #00BAFF;
	border: 2px solid #00BAFF;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}
.card-img-top {
	background-color: #010721;
	margin: 0px;
}
/* Background Colours of Cards */
.coding_ninjas {
	background-color: #FFCDB0;
	margin-top: 0px;
}
.ipqc {
	background-color: #F6D8B6;
	margin-top: 0px;
}
.ecell {
	background-color: #C8E5C7;
	
}
.stc {
	background-color: #CCD6FF;
	margin-top: 0px;
}
.deb {
	background-color: #f0d19c;
}
.ssit {
	background-color: #F4F4F4;
}
.ted {
	background-color: #FFD5D1;
}
/* Projects */
.projects {
	background-color: #010721;
	margin-top: 100px;
	width: 101vw;
}
.projects .heading {
	padding-top: 6vw;
	text-shadow: 2px 3px 3px rgba(21, 85, 122, 0.6);
}
.projects_one {
	padding: 80px 20px 40px 86px;
	display: flex;
}
.projects_top {
	font-weight: bold;
	font-size: 72px;
	line-height: 34px;
	color: #C4C4C4;
	padding-bottom: 20px;
}
.projects_head {
	font-weight: 600;
	font-size: 38px;
	line-height: 46px;
	letter-spacing: -0.25px;
	padding-top: 30px;
}
.projects_head a {
color: white;
text-decoration: none;
}
.projects_text {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 22px;
	padding-top: 10px;
	margin-right: 30px;
	width: 800px;
	opacity: 0.8;
}
.projects_vid {
	margin-top: 20px;
	transition: 0.4s;
}
.projects_vid:hover {
	filter: drop-shadow(1px 1px 6px #00BAFF);
}
.projects_two {
	display: flex;
	margin-left: 86px;
	margin-top: 40px;
}
.projects_vid_two {
	margin-top: 30px;
}
.projects_two_right {
	margin-left: 40px;
	padding-top: 20px;
}
.projects_end {
	display: flex;
	justify-content: center;
	padding-top: 100px;
	padding-bottom: 4vw;
}
.projects_soon {
	font-weight: 600;
	font-size: 28px;
	line-height: 150%;
	text-align: center;
}
.dots {
	color: #00BAFF;
	font-size: 30px;
	letter-spacing: 2px;
}

/* Education */
.Education .heading {
	text-shadow: 2px 4px 3px #010515;
}
.flip-card {
	background-color: transparent;
	width: 383px;
	height: 433px;
	perspective: 1000px;
}
.flip-card-inner {
	position: relative;
	width: 100%;
	height: 100%;
	text-align: center;
	transition: transform 0.6s;
	transform-style: preserve-3d;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card:hover .flip-card-inner {
	transform: rotateY(180deg);
}
.flip-card-front, .flip-card-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.flip-card-front {
	background-color: #bbb;
	color: black;
}
.flip-card-back {
	background-color: #010721;
	color: white;
	transform: rotateY(180deg);
}
.education-main {
	display: flex;
	justify-content: space-evenly;
	margin: 50px;
}
.Education {
	margin-top: -40px;
	margin-bottom: 100px;
}
.ed_head {
	font-size: 24px;
	line-height: 29px;
	letter-spacing: 0.25px;
	padding: 60px 20px 10px;
	font-weight: 600;
}
.ed_date {
	font-weight: normal;
	font-size: 16px;
	line-height: 17px;
	letter-spacing: 0.25px;
	padding-bottom: 24px;
}
.ed_percentage {
	font-weight: normal;
	font-size: 24px;
	line-height: 29px;
	letter-spacing: -0.25px;
	padding-bottom: 40px;
}
b {
	font-weight: 600;
	font-size: 30px;
}
.ed_body {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: 0.25px;
	padding-left: 24px;
	padding-right: 24px;
	opacity: 0.8;
}
.carousel{
	display: none;
}
/* footer */
.footer {
	padding-bottom: 20px;
	background-color: #010721;
	color: white;
	padding-top: 40px;
	text-align: center;
	width: 101vw;
}
.footer_text {
	padding-bottom: 60px;
	font-size: 20px;
	letter-spacing: -0.25px;
	padding-top: 10px;
	padding-right: 34.72vw;
	padding-left:34.72vw;
	opacity: 0.8;
}
.footer ul {
	padding-bottom: 40px;
	list-style: none;
	text-align: center;
	font-size: 18px;
	line-height: 1.6;
	margin-bottom: 0;
}
.footer li {
	padding: 0 10px;
}
.footer ul a {
	color: inherit;
	text-decoration: none;
	opacity: 0.8;
	transition: 0.2s;
}
.footer ul a:hover {
	opacity: 1;
	color: white;
	font-weight: 600;
}
.footer .copyright {
	margin-top: 30px;
	text-align: center;
	font-size: 13px;
	color: white;
	margin-bottom: 0;
	opacity: 0.8;
}
.icons {
	display: flex;
	flex-direction: row;
	justify-content: center;
}
.icon_box {
	width: 28px;
	height: 28px;
	margin: 20px 40px;
	opacity: 0.6;
	transition: 0.15s;
}
.icon_box:hover {
	opacity: 1;
}

@media screen and (max-width:450px) {
	body{
		width: 100vw;
		overflow-x: hidden;
   }
	.navbar-brand {
		font-size:3.5vw;
   }
	.nav-item{
		font-size: 4vw;
   }
	.navbar{
		height: 50px;
   }
   .navbar .container-fluid{
   background-color: #010721;
   }
   .nav-item {
	font-size: 3.5vw;
	margin-left: 4vw;
	font-weight: 500;
}
.navbar ul li::after{
	display: none;
}
	.dark-bg {
		height: 100%;
		width: 100%;
		margin-top: 0px;
		margin-left: 0vw; 
   }
   .dark-bg canvas{
	top: -400px !important;
   }
	main {
		margin-top: 0px;
   }
	.light-bg {
		top: 80px;
		width: 80vw;
		z-index: 3;
		justify-content: center;
		margin-top: 110px;
		margin-left: 10vw;
		margin-right: 10vw;
		padding: 5vw;
		transition: 0.2s;
		box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.25)
   }
	.heading{
		text-align: center;
		font-size: 5vw;
		font-weight: 700;
		letter-spacing:auto;
		padding-top: 5vw;
   }
	.text-top{
		font-size: 8vw;
		text-align: center;
		letter-spacing: 0.25px;
		line-height: 29px;
   }
	.text-top-bold {
		font-size: 9vw;
		text-align: center;
		position: relative;
		font-weight: 600;
		margin-top: 0vw;
		text-shadow: 3px 3px #010721;
   }
	.text-top-main{
		text-align: center;
		font-size: 3.2vw;
   }
	.btn-outline {
		background-color: #172948;
		color: white;
		margin-top: 2.5vw;
		margin-left: 0px;
		height: auto;
		width: auto;
		transition: 0.16s;
		font-size: 2.5vw;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
   }
	.text-top-main{
		margin-top: 2vw;
   }
	.btn-outline:hover {
		background-color: #172948;
		border: 2px solid #00BAFF;
		color: #00BAFF;
   }
	.button_box{
		display: flex;
		justify-content: center !important;
   }
	.btn-outline-primary-LinkedIn{
		margin-left: 1vw;
   }
	.heading {
		font-size: 7vw;
		font-weight: 700;
		padding-left: 6vw;
		margin-top: 8vh;
		padding-top: 5vw;
   }
	.top .line img{
		height: 2.5px;
   }
	.top .line {
		position: absolute;
		padding-left: 35%;
		padding-top: 6%;
   }
	.About{
		margin-top: 90px;
		margin-bottom: 60px;
   }
   .About .heading {
	text-shadow: 2px 4px 3px #010515;
	}
	.About .line img{
		height: 2.5px;
		margin-right: 50%;
   }
   .about-image:hover {
		filter: none;
	}
	.About .line {
		padding-left: 43%;
		margin-left: 0;
   }
	.about-text {
		margin-top: 20vw;
		font-size: 3.5vw;
		text-align: center;
		margin-left: 0px;
   }
	.about-image {
		margin-top: 20vw;
		margin-left: 0px;
   }
	.skillset-main{
		width: 100%;
		padding: 0px;
		margin: 0px;
		text-align: center;
   }
	.skillset{
		padding-bottom: 40px;
		width: 100%;
		overflow-x: hidden ;
   }
	.skillset .heading{
		padding-left: 0px;
		margin-top:20px ;
		text-shadow: 2px 3px 3px rgba(21, 85, 122, 0.6);
   }
	.skillset .skills_head{
		font-size: 20px;
		line-height: 29px;
		letter-spacing: 0.25px;
		margin-left: -30px;
   }
	.skillset .line img {
		height: 2.5px;
   }
   .skillset .row{
	   width: 104%;
   }
	.skills_head:first-of-type{
		margin-left: -34px;
   }
	.networking .skills_head{
		margin-left: -38px;
   }
	.web .skills_head{
		margin-left: -38px;
   }
	.public-speaking .skills_head{
		margin-left: -37px;
   }
	.ui-ux .skills_head{
		margin-left: -31px;
   }
	.skills_main_text{
		margin:12px 0px;
		padding-top:10px;
		font-size: 14px;
		line-height: 17px;
		letter-spacing: 0.25px;
		padding-left: 40px;
		padding-right: 40px;
   }
	.div1{
		width: 80%;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 20px;
		padding-right: 0;
		margin-left: 50px;
   }
	.div2{
		width: 80%;
		display: flex;
		flex-direction: column;
		text-align: left;
		padding: 20px;
		padding-top: 0px;
		padding-right: 0;
		margin-left: 50px;
   }
	.logo{
		margin: 0;
		padding: 0;
   }
	.skillset .line img{
		height: 2.5px;
		width: 64px;
   }
	.skillset .line {
		margin-left: -8vw;
   }
	.skillset img{
		width: 28px;
   }
	.public-speaking .logo img{
		width: 32px;
		padding-right: 6px;
   }
	.ui-ux img{
		width: 30px;
   }
	.skills_small{
		font-size: 12px;
		margin:0px;
		padding-left: 0px;
   }
	.experience{
		justify-content: center;
		padding: 0;
   }
	.experience .heading{
		margin-top: 10vw;
		padding: 0;
		text-shadow: 2px 4px 3px #010515;
   }
	.experience .line img{
		height: 2.5px;
		margin-right: 50%;
   }
	.experience .line {
		padding-left: 43%;
		margin-left: 0;
   }
	.card{
		flex-direction: row;
		height: auto;
		width: 95vw;
		margin:8px auto ;
   }
	.card:first-of-type{
		margin-top: 20px;
   }
	.card img {
		height: auto;
		width: 40vw;
		border-radius: 4px;
		margin: 0px;
   }
	.card-title {
		font-weight: 500;
		font-size: 14px;
		line-height: 17px;
   }
	.card-text {
		font-weight: normal;
		font-size: 10px;
		line-height: 14px;
		letter-spacing: 0.3px;
		margin-bottom: 0px;
   }
	.card-subtitle {
		font-size: 12px;
		line-height: 15px;
		letter-spacing: 0.3px;
   }
	.card-link {
		text-decoration: none;
		color: #010721;
		font-weight: 600;
		border: 1px solid #010721;
		padding: 1px 2px;
		border-radius: 2px;
		transition: 0.2s;
		font-size: 10px;
		display: none;
   }
	.card-img-top {
		background-color: #010721;
		margin: 0px;
   }
	.projects{
		margin: 0;
   }
	.projects .line img{
		height: 2.5px;
		margin-right: 50%;
   }
	.projects .line {
		padding-left: 43%;
		margin-left: 0;
   }
	.projects .heading{
		padding-left: 0px;
		padding-top: 40px;
		text-shadow: 2px 3px 3px rgba(21, 85, 122, 0.6);
   }
	.projects_top{
		display: none;
   }
	.projects_one{
		display: flex;
		flex-direction: column-reverse;
		padding: 0;
		justify-content: center;
		padding-top: 20px;
   }
	.projects_head{
		text-align: center;
		font-size: 24px;
		padding-top: 8px;
   }
	.projects_text{
		text-align: center;
		font-size: 12px;
		width: 90vw;
		margin-left: 5vw;
		padding-top: 0px;
   }
	.projects_two{
		display: flex;
		flex-direction: column;
		margin-left: 0px;
		justify-content: center;
   }
	.projects_two_right{
		margin: 0px;
		padding: 0px;
   }
	.projects_soon{
		font-size: 14px;
   }
	.projects_end{
		padding-top: 6vw ;
		padding-bottom: 10vw;
   }
	.projects_vid{
		display: flex;
		justify-content: center;
   }
	.projects_vid iframe{
		width: 270px;
		height: 151px;
   }
   .projects_vid img{
	width: 270px;
	height: 151px;
}
   .projects_vid:hover {
	filter: none;
	}
	.dots{
		font-size: 20px;
   }
	.Education{
		margin-bottom: 50px;
   }
	.Education .heading{
		padding-left: 0px;
		text-shadow: 2px 4px 3px #010515;
   }
	.Education .line img{
		height: 2.5px;
		margin-right: 50%;
   }
	.Education .line {
		padding-left: 42%;
		margin-left: 0;
   }
	.edu-card{
		display: none;
   }
	.carousel{
		display: inline;
   }
	.carousel-item{
		width: 90vw;
		height: auto;
   }
	.carousel-item img{
		opacity: 0.3;
   }
	.carousel-caption h5{
		font-weight: 600;
		font-size: 6vw;
   }
	.carousel-caption p{
		font-size: 3vw;
   }
	.carousel-caption h6{
		font-weight: 600;
		font-size: 4vw;
   }
	.footer{
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-top: 0px;
		padding-bottom: 6px;
   }
	.footer_text {
		padding:40px 30px;
		font-size: 17px;
		letter-spacing: -0.25px;
		opacity: 1;
   }
	.list-inline .list-inline-item{
		font-size: 14px;
		padding:10px 20px;
		margin: 0px;
		opacity: 1;
   }
	.list-inline{
		display: flex;
		justify-content: center;
		flex-direction: row;
		flex-wrap: wrap;
		padding-bottom: 20px;
   }
	.footer ul a {
		opacity: 1;
   }
	.footer ul {
		padding-bottom: 20px;
   }
	.icon_box {
		width: 20px;
		height: 20px;
		margin: 10px 20px;
		opacity: 1;
		transition: 0.15s;
   }
	.icon_box img{
		width: 20px;
		height: 20px;
   }
	.footer .copyright{
		font-size: 10px;
   }
	.last{
		padding-left: 10px;
		padding-right: 10px;
   }
}

@media screen and (max-width:400px) {
	.card img {
		height: auto;
		width: 50vw;
		border-radius: 4px;
		margin: 0px;
   }
}
